.custom-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}

.custom-modal .modal-body {
  padding: 4rem 1rem;
}

.rounded075 {
  border-radius: 0.75rem;
}

.custom-modal .title {
  font-size: 2.15rem;
  line-height: 2rem;
}
